spring:
  application:
    name: modakmodak
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:mysql://localhost:3306/modakmodak?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true}
    username: ${SPRING_DATASOURCE_USERNAME:root}
    password: ${SPRING_DATASOURCE_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

springdoc:
  swagger-ui:
    path: /swagger
  api-docs:
    path: /api-docs

google:
  oauth:
    client-id: ${GOOGLE_CLIENT_ID:your-client-id}
    client-secret: ${GOOGLE_CLIENT_SECRET:your-client-secret}
